<div class="map">
    <h1>You can visit us right here!</h1>
<iframe src="https://yandex.ru/map-widget/v1/-/CCgNbWM0" width="900" height="600" frameborder="1"
    allowfullscreen="true"></iframe>
</div>