<div class="countries">
    <div class="country">
        <a href="countries/American"><img src="/img/flags/001-united-states.png" alt=""></a>
        <h3>United states</h3>
    </div>
    <div class="country">
        <a href="/countries/British"><img src="/img/flags/002-england.png" alt=""></a>
        <h3>England</h3>
    </div>
    <div class="country">
        <a href="/countries/Canadian"><img src="/img/flags/003-canada.png" alt=""></a>
        <h3>Canada</h3>
    </div>
    <div class="country">
        <a href="/countries/Chinese"><img src="/img/flags/004-china.png" alt=""></a>
        <h3>China</h3>
    </div>
    <div class="country">
        <a href="/countries/Dutch"><img src="/img/flags/005-germany.png" alt=""></a>
        <h3>Germany</h3>
    </div>
    <div class="country">
        <a href="/countries/Egyptian"><img src="/img/flags/006-egypt.png" alt=""></a>
        <h3>Egypt</h3>
    </div>
    <div class="country">
        <a href="/countries/French"><img src="/img/flags/007-france.png" alt=""></a>
        <h3>France</h3>
    </div>
    <div class="country">
        <a href="/countries/Greek"><img src="/img/flags/008-greece.png" alt=""></a>
        <h3>Greece</h3>
    </div>
    <div class="country">
        <a href="/countries/Indian"><img src="/img/flags/009-india.png" alt=""></a>
        <h3>India</h3>
    </div>
    <div class="country">
        <a href="/countries/Irish"><img src="/img/flags/010-ireland.png" alt=""></a>
        <h3>Ireland</h3>
    </div>
    <div class="country">
        <a href="/countries/Italian"><img src="/img/flags/011-italy.png" alt=""></a>
        <h3>Italy</h3>
    </div>
    <div class="country">
        <a href="/countries/Jamaican"><img src="/img/flags/012-jamaica.png" alt=""></a>
        <h3>Jamaica</h3>
    </div>
    <div class="country">
        <a href="/countries/Japanese"><img src="/img/flags/013-japan.png" alt=""></a>
        <h3>Japan</h3>
    </div>
    <div class="country">
        <a href="/countries/Kenyan"><img src="/img/flags/014-kenya.png" alt=""></a>
        <h3>Kenya</h3>
    </div>
    <div class="country">
        <a href="/countries/Malaysian"><img src="/img/flags/015-malaysia.png" alt=""></a>
        <h3>Malaysia</h3>
    </div>
    <div class="country">
        <a href="/countries/Mexican"><img src="/img/flags/016-mexico.png" alt=""></a>
        <h3>Mexico</h3>
    </div>
    <div class="country">
        <a href="/countries/Moroccan"><img src="/img/flags/017-morocco.png" alt=""></a>
        <h3>Morocco</h3>
    </div>
    <div class="country">
        <a href="/countries/Russian"><img src="/img/flags/018-russia.png" alt=""></a>
        <h3>Russia</h3>
    </div>
    <div class="country">
        <a href="/countries/Spanish"><img src="/img/flags/019-spain.png" alt=""></a>
        <h3>Spain</h3>
    </div>
    <div class="country">
        <a href="/countries/Thai"><img src="/img/flags/020-thailand.png" alt=""></a>
        <h3>Thailand</h3>
    </div>
    <div class="country">
        <a href="/countries/Tunisian"><img src="/img/flags/021-tunisia.png" alt=""></a>
        <h3>Tunisia</h3>
    </div>
    <div class="country">
        <a href="/countries/Vietnamese"><img src="/img/flags/022-vietnam.png" alt=""></a>
        <h3>Vietnam</h3>
    </div>
</div>