<div class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 text-center">
                <h1 class="font-weight-light">We will help you with your meals!</h1>
                <p class="lead">You can search meals by: name, ingredients, category and area.</p>
                <p class="lead">Or, if you can not choice, you can take a recipe of random meal!</p>
            </div>
        </div>
    </div>
</div>