<form method="POST" action="/getIngredients" id="ingredients">
    <div class=" form-group ingredients">
        <h1>Write here the ingredients that you wanna use!</h1>
        <input type="text" name="ingredients" id="input-ingredients" placeholder="use comma after each ingredient">
        <button type="submit" class="btn btn-success btn-submit">Let's cook</button>
    </div>
</form>
</div>