<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </head>

  
  <!--Main Navigation-->
  <header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img src="/img/d29cf3c5-ab65-44e3-9f11-92aca2c76be4_200x200.png" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Find by
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/ingredients">Ingredients</a>
              <a class="dropdown-item" href="/random">Random</a>
              <a class="dropdown-item" href="/categories">Categories</a>
              <a class="dropdown-item" href="/countries">Country</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contacts">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  </header>

  <body>
    {{{body}}}
  </body>

  <footer>
    <div class="container">
         <h1 style="text-align: center; font-family: Pacifico; ">Find us on social networks</h1>
      <div class="row">
        <div class="col-sm">
          
        </div>
        <div class="col-sm flex-footer">
         <a href="" class="bottom-social"><img src="/img/001-facebook.png" alt=""></a>
         <a href="" class="bottom-social"><img src="/img/003-vk.png" alt=""></a>
         <a href="" class="bottom-social"><img src="/img/002-instagram.png" alt=""></a>
        </div>
        <div class="col-sm">
          
        </div>
      </div>
    </div>
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="https://elbrusboot.camp/"> Elbrus Boot Camp</a>
  </div>
  <!-- Copyright -->

</footer>
<script defer src="js/getMealByIngredients.js"></script>
<script src="http://185.188.182.48:3000/socket.io/socket.io.js"></script>
<script defer src="js/chat.js"></script>
</html>


